html {
  font-size: 2.5vh;
  font-family: "Atma", "Fira Code";
}

body {
  background-color: olivedrab;
}

.container {
  /* Flexbox */
  display: flex;
  /* Direccion y wrap */
  flex-flow: row wrap;
  /* Cada item se alinea verticalmente centrado en la fila*/
  align-items: center;
  /* Las filas se situan en la parte superior cuando hay wrap*/
  align-content: flex-start;
  /* Los items se encuentran separados equidistantes */
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
  min-height: 5vh;
}

.item--marca {
  display: flex;
  flex: 1 0 1;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  column-gap: 5px;
}

.item--marca img {
  flex: 1 0 0;
  border-radius: 20%;
  max-height: 5vh;
  width: auto;
}

.item--marca h1 a {
  display: block;
  flex: 1 1 0;
  font-size: 100%;
  font-weight: 900;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: goldenrod;
  -webkit-text-stroke: 1px black;
}

.item--sub-pagina {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
}

.item--sub-pagina ul {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.item--sub-pagina a {
  display: flex;
  font-style: normal;
  font-weight: 700;
  color: goldenrod;
  -webkit-text-stroke: 0.75px black;
  text-decoration: none;
}

.item--busqueda {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  height: 100%;
}

.item--busqueda input {
  border-radius: 10px;
  display: block;
  flex: 1 1 auto;
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  max-height: 5vh;
}

.item--busqueda button {
  border-radius: 10px;
  flex: 0 1 auto;
  aspect-ratio: 1 / 1;
  margin: 0;
  height: 5vh;
  width: auto;
}
